/* Container Classes */
.container {
	max-width: 1100px;
	margin: 0px auto;
}

.full-container {
	max-width: 100%;
}

.narrow-container {
	max-width: 900px;
	margin: 0px auto;
}

.extra-narrow-container {
	max-width: 600px;
	margin: 0px auto;
}

.one-half {
	width: 50%;
	float: left;
}

.one-third {
	max-width: 33.333%;
	float: left;
}

.one-fourth {
	max-width: 25%;
	float: left;
	padding: 1em;
}