<!DOCTYPE html>
<html>
<head>
	<title>Mookie</title>

	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="type.css"/>
	<link rel="stylesheet" type="text/css" href="containers.css"/>
	<link rel="stylesheet" type="text/css" href="style.css?v=2.0.0"/>
	<link rel="stylesheet" type="text/css" href="mobile.css"/>

	<link rel="apple-touch-icon" sizes="180x180" href="http://d3ftiysan9r2n2.cloudfront.net/favicon/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="http://d3ftiysan9r2n2.cloudfront.net/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="http://d3ftiysan9r2n2.cloudfront.net/favicon/favicon-16x16.png">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <meta property="og:image" content="http://d20sv3ae6ysj58.cloudfront.net/http://d3ftiysan9r2n2.cloudfront.net/open_graph_logo.jpg"/> -->

	<meta property="og:description" content="A full-service digital agency"/>

	<meta property="og:url" content="https:/www.mookie.io"/>

	<meta property="og:title" content="Mookie" />

	<!-- <meta name="google-site-verification" content="B0P7iopZtFUiG4pCsuOV5pbzFKotSIv_X7_ZLyDBB98" /> -->

	<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
</head>

<body ng-app="syndioMarketingApp">
	<div id="navbar" ng-controller="NavbarCtrl" class="navbar clearfix">
		<div class="navbar__logo">
			<a ng-click="navigateTo('hero')">
				<img id="navbar__logo__light" src="http://d3ftiysan9r2n2.cloudfront.net/logo_knockout.svg"/>
				<img id="navbar__logo__dark" src="http://d3ftiysan9r2n2.cloudfront.net/logo_dark.svg"/>
			</a>
		</div>

		<div class="navbar__menu">
			<div class="navbar__menu__hamburger" ng-click="toggleHamburger()">
				<i id="hamburger-icon" class="fa fa-bars navbar__menu__hamburger__icon"></i>
				<div id="hamburger-content" class="navbar__menu__hamburger__content">
					<ul>
						<a ng-click="navigateTo('philosophy')"><li>Philosophy</li></a>
						<a ng-click="navigateTo('services')"><li>Services</li></a>
						<a ng-click="navigateTo('team')"><li>Team</li></a>
					</ul>
				</div>
			</div>
			<div class="navbar__menu__normal">
				<a class="navbar__menu__link link__1" ng-click="navigateTo('philosophy')">Philosophy</a>
				<span class="highlight1"></span>
				<a class="navbar__menu__link link__2" ng-click="navigateTo('services')">Services</a>
				<span class="highlight2"></span>
				<a class="navbar__menu__link link__3" ng-click="navigateTo('team')">Team</a>
				<span class="highlight3"></span>
<!-- 				<a class="navbar__menu__link link__3" ng-click="navigateTo('contact')">Contact</a>
				<span class="highlight3"></span> -->
			</div>
		</div>
		<div class="contact contact__email">
			<p>hello@mookie.io</p>
		</div>
		<div class="contact contact__phone">
			<p>(678) 756-2770</p>
		</div>
	</div>

	<div ng-view></div>
	<script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyAuhHlWFZfjSbup77Raoiqimk2SQW4-ZtE",
	    authDomain: "marketing-6c63e.firebaseapp.com",
	    databaseURL: "https://marketing-6c63e.firebaseio.com",
	    projectId: "marketing-6c63e",
	    storageBucket: "marketing-6c63e.appspot.com",
	    messagingSenderId: "323510036758"
	  };
	  firebase.initializeApp(config);
	    // Get a reference to the storage service, which is used to create references in your storage bucket
	</script>
	<script src="jquery-1.11.3.js"></script>
	<script src="angular.js"></script>
	<script src="angular-route.js"></script>
	<script src="script.js"></script>
</body>
</html>