/* Mobile Responsiveness */ 
@media(max-width: 1200px) {
	.services .container {
		padding: 0px 20px;
	}
}

@media(max-width: 1060px) {
	.services__heading {
		width: 100%;
		text-align: center;
	}

	.services__heading h2 {
		margin-bottom: 0px;
	}

	.services__text {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.services__heading__values {
		margin-bottom: 22px;
	}

	.services__text__icon {
		margin: 0px;
	}
}

@media(max-width: 950px) {
	.hero {
		padding-bottom: 50px;
	}
}

@media(max-width: 950px) {
	.hero {
		height: 500px;
	}

	.hero__text {
		width: 100%;
		padding: 180px 50px 0px 50px;
	}

	.services span.heading, h1 {
		font-size: 3em;
	}

	.services article span.subheading, h3 {
		font-size: 1.5em;
	}
	
	.philosophy .divider {
		width: 344px;
	}

	.services .divider {
		width: 180px;
	}

	.team .divider {
		width: 120px;
	}

	.hero__text img {
		margin-top: 120px;
	}

	.navbar .contact {
		margin-right: 2em;
	}

	.navbar .contact p {
		font-size: 1em;
	}
}

@media(max-width: 900px) {

	.navbar__menu a.navbar__menu__link {
		font-size: 1em;
	}

	.navbar .contact {
		margin-top: 1em;
	}

	.navbar .contact p {
		font-size: .8em;
	}

	.team h5 {
		font-size: 1.125em;
	}
	
	.team h6, .team a {
		font-size: .875em;
	}
}

@media(max-width: 860px) {
	.navbar .contact {
		margin-right: 1em;
	}

	.navbar__menu__normal a:nth-child(3), .navbar__menu__normal a:nth-child(5), .navbar__menu__normal a:nth-child(7) {
		margin-left: 1rem;
	}

	.services span.heading, h1 {
		font-size: 2.125em;
	}

	.services article span.subheading, h3 {
		font-size: 1.375em;
	}
	
	.philosophy .divider {
		width: 244px;
	}

	.services .divider {
		width: 134px;
	}

	.team .divider {
		width: 92px;
	}

	.hero__text {
		padding-top: 140px;
	}

	.hero__text img {
		margin-top: 80px;
	}

	.hero {
		height: 400px;
	}
}

@media(max-width: 760px) {

	.navbar__menu__normal {
		display: none;
	}

	.navbar__menu__hamburger {
		display: inline-block;
	}

	.navbar .contact {
		margin-top: .5em;
	}


/*	.hero__text {
		padding-top: 140px;
	}
	.hero__text img {
		margin-top: 80px;
	}*/
}

@media(max-width: 736px) {
	.services .services__card {
		height: auto;
	}

	.services article{
		height: 100px;
	}

	.services .overlay {
		opacity: 1;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: none;
	}
	
	.services__card .overlay .heading {
		display: none;
	}
}

@media(max-width: 725px) {
	.one-fourth {
		max-width: 33.333%;
	}

	.team .one-third {
		height: 610px;
	}

	.hero__text {
		padding-top: 100px;
	}
	.hero__text img {
		margin-top: 60px;
		width: 5em;
	}

	.hero {
		height: 324px;
	}

}

@media(max-width: 674px) {
	.services span.heading, h1 {
		font-size: 1.875em;
	}

	.services article span.subheading, h3 {
		font-size: 1.25em;
	}

	.philosophy h4 {
		font-size: 1.125em;
	}

	.philosophy article img {
		width: 3em;
		margin-top: 1em;
	}

	.extra-narrow-container {
		width: 320px;
	}

	.hero .narrow-container {
		padding: 0px;
	}

	.philosophy .divider {
		width: 204px;
	}
	
	.services .divider {
		width: 120px;
	}

	.team .divider {
		width: 80px;
	}
}

@media(max-width: 617px) {


	.navbar .contact {
		margin-right: 1em;
	}

	#navbar__logo__light {
		height: 30px
	}
	#navbar__logo__dark {
		height: 30px;
	}
}

@media(max-width: 600px) {
	.team h5 {
		font-size: 1em;
	}
	
	.team h6, .team a {
		font-size: .8em;
	}
}

@media(max-width: 550px) {
	.one-half {
		width: 100%;
	}

	.hero__text {
		padding-top: 80px;
	}

	.services span.heading{
		font-size: 2.5em;
	}

	.services article span.subheading{
		font-size: 1.125em;
	}

	.one-fourth {
		max-width: 50%;
	}

	.team {
		padding-bottom: 1em;
	}

	.services article {
		height: 120px;
	}
}

@media(max-width: 532px) {
}

@media(max-width: 520px) {

	.hero__text img {
		width: 4em;
	}
}

@media(max-width: 500px) {
	.navbar, .footer {
		padding: 8px 16px 0 16px;
	}

	.footer img {
		height: 30px;
	}
}

@media(max-width: 450px) {
}

@media(max-width: 430px) {
	.one-third {
		max-width: 100%;
	}

	.one-fourth {
		max-width: 50%;
	}
	
	.team .one-third {
		height: 640px;
	}

	.navbar .contact {
		margin-top: 0;
		height: auto;
	}

	.navbar .contact p {
		font-size: .8em;
	}
}

@media(max-width: 423px) {
	.hero__text {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.hero__text h1 {
		font-size: 30px;
	}

	.hero__text h3 {
		font-size: 18px;
	}

	.hero__text button {
		font-size: 16px;
	}
	
	.philosophy {
		padding-left: 16px;
		padding-right: 16px;
	}

	.philosophy h4 {
		font-size: 1.125em;
	}
}

@media(max-width: 400px) {
	.hero__text h1 {
		font-size: 30px;
}

@media(max-width: 390px) {
}