/* Mobile Responsiveness */ 
@media(max-width: 1200px) {
	.vision .container {
		padding: 0px 20px;
	}
}

@media(max-width: 1060px) {
	.vision__heading {
		width: 100%;
		text-align: center;
	}

	.vision__heading h2 {
		margin-bottom: 0px;
	}

	.vision__text {
		width: 100%;
		text-align: center;
		position: relative;
	}

	.vision__heading__values {
		margin-bottom: 22px;
	}

	.vision__text__icon {
		margin: 0px;
	}
}

@media(max-width: 950px) {
	.hero {
		padding-bottom: 50px;
	}
}

@media(max-width: 950px) {
	.hero__text {
		width: 100%;
		padding: 180px 50px 0px 50px;
	}

	.hero__form {
		width: 100%;
		padding: 70px 50px 80px 50px;
	}

	.contact {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media(max-width: 935px) {
	.about {
		padding: 40px 20px;
	}
}

@media(max-width: 850px) {
	.modal {
		width: 70%;
	}
}

@media(max-width: 800px) {
	.one-third {
		max-width: 50%;
	}

	.team .one-third {
		height: 650px;
	}
}

@media(max-width: 770px) {
	.hero__text h1 {
		font-size: 45px;
	}

	.hero__text h3 {
		font-size: 25px;
	}
}

@media(max-width: 760px) {
	.navbar__logo, .navbar__menu {
		width: 50%;
	}

	.navbar__menu__normal {
		display: none;
	}

	.navbar__menu__hamburger {
		display: inline-block;
	}
}

@media(max-width: 725px) {
	.one-fourth {
		max-width: 33.333%;
	}

	.team .one-third {
		height: 610px;
	}
}

@media(max-width: 675px) {
	.about__bio__bottom {
		clear: both;
		width: 100%;
	}

	.contact .contact__form {
		width: 100%;
	}

	.contact__form__thank-you {
		text-align: center;
	}

	.contact .contact__info {
		width: 100%;
		padding-top: 20px;
		padding-left: 0px;
		text-align: center;
	}

	.thank-you {
		padding: 40px 0px;
	}
}

@media(max-width: 617px) {
	.hero .narrow-container {
		padding: 0px;
	}
}

@media(max-width: 600px) {
	h1 {
		font-size: 40px;
	}

	.modal {
		width: 90%;
		margin-top: 100px;
	}

	.modal__body {
		width: 80%;
	}

	.about h5:nth-child(3) {
		margin-bottom: 15px;
	}

	.about__picture {
		width: 100%;
	}

	.about__picture img {
		width: 275px;
	}

	.about__bio__top {
		clear: both;
		width: 100%;
	}
}

@media(max-width: 550px) {
	.advisors h5, .advisors h6 {
		font-size: 16px;
	}
}

@media(max-width: 532px) {
	.thank-you .narrow-container {
		padding: 0px 30px;
	}
}

@media(max-width: 520px) {
	.hero__text h1 {
		font-size: 35px;
	}

	.hero__text h3 {
		font-size: 20px;
	}

	.hero__text button {
		font-size: 18px;
	}

	.hero__text img {
		width: 100px;
	}
}

@media(max-width: 500px) {
	.navbar {
		padding: 20px;
	}

	.hero__text button {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media(max-width: 450px) {
	.contact h3 {
		font-size: 20px;
	}

	.contact textarea {
		height: 120px;
	}
}

@media(max-width: 430px) {
	.one-third {
		max-width: 100%;
	}

	.one-fourth {
		max-width: 50%;
	}
	
	.team .one-third {
		height: 640px;
	}
}

@media(max-width: 423px) {
	.hero__text {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.hero__text h1 {
		font-size: 30px;
	}

	.hero__text h3 {
		font-size: 18px;
	}

	.hero__text button {
		font-size: 16px;
	}
}

@media(max-width: 400px) {
	.hero__text h1 {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.about p {
		font-size: 18px;
	}

	.thank-you h1 {
		font-size: 28px;
	}
}

@media(max-width: 330px) {
	.team .one-third {
		height: 610px;
	}
}