/* General Classes */
::-webkit-scrollbar {
display: none;
}

* {
	box-sizing: border-box;
	color: #fff;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

a:hover {
	cursor: pointer;
}

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block; 
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Lightbox */
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Navigation Bar */
.navbar {
	padding: 10px 60px;
	transition: all 0.5s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
}

.navbar--change-color {
	background-color: #ffffff;
	opacity: .9;
	border-bottom: 1pt solid #dddddd;
}

.navbar__logo {
	float: left;
}

#navbar__logo__dark {
	display: none;
	height: 40px;
	width: auto;
}

#navbar__logo__light {
	display: block;
	height: 40px;
	width: auto;
}

.navbar .contact {
	width: auto;
	height: 22px;
	float: right;
	margin-top: 14px;
	margin-right: 3em;
}

.navbar .contact p {
	font-size: 1em;
	font-family: 'Proxima Nova Light';
}

.navbar__menu {
	float: right;
	text-align: right;
	margin-top: 12px;
}

.navbar__menu__normal {
	width: 100%;
}

.navbar__menu a {
	transition: all 0.3s ease;
	text-decoration: none;
	color: #fff;
}

.navbar__menu__normal a:nth-child(3), .navbar__menu__normal a:nth-child(5), .navbar__menu__normal a:nth-child(7) {
	margin-left: 2rem;
}

.navbar__menu__normal span {
	display: none;
	height: 18px;
	background-color: #ED217C;
	z-index: -1;
	position: absolute;
	top: 30px;
}

.navbar__menu__normal span.highlight1{
	width: 90px;
	margin-left: -94px;
}

.navbar__menu__normal span.highlight2{
	width: 69px;
	margin-left: -72px;
}

.navbar__menu__normal span.highlight3{
	width: 43px;
	margin-left: -44px;
}

.navbar a.navbar__menu__link--change-color, .navbar .contact p.navbar__menu__link--change-color  {
	color: #1F1F1F!important;
}

.navbar__menu__normal span.hover {
	display: inline-block;
}

/* Hamburger Menu (for mobile version navbar of site) */
.navbar__menu__hamburger {
	position: relative;
	display: none;
	transform: translateY(-10px);
}

.navbar__menu__hamburger__icon {
	font-size: 30px;
}

.navbar__menu i.navbar__menu__hamburger__icon--change-color {
	color: #4a4a4a;
}

.navbar__menu__hamburger__content {
	display: none;
	position: absolute;
	min-width: 250px;
	z-index: 1;
	right: 0;
	transform: translateY(5px);
}

.navbar__menu__hamburger ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.navbar__menu__hamburger li {
	padding: 5px 10px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	background-color: rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 0px rgba(255,255,255,0.2); 
	transition: all 0.5s ease;
}

.navbar__menu__hamburger li:hover {
	box-shadow: inset 250px 0px 0px rgba(255,255,255,0.3);
}

/* Scrollbar */
::-webkit-scrollbar {
	border-radius: 10px;
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #9a9a9a;
}

/* Hero Section */
.hero {
	width: 100%;
	background: 
/*	   -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)),
       -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)),*/
       /*linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)),*/
       linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.7)),
	   url('assets/hero_2.jpg');
	/*background-color: grey;*/
	background-size: cover;
	height: 600px;
	/*background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1));
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));*/ /* For Safari 5.1 to 6.0 */ /* For Opera 11.1 to 12.0 */ /* For Firefox 3.6 to 15 */ /* Standard syntax (must be last) */
}

.hero__text {
	width: 100%;
	text-align: center;
	padding: 240px 0px 50px 0px;
	letter-spacing: 1px;
	font-variant-ligatures: no-common-ligatures;
}

.hero .narrow-container {
	padding: 0px 50px;
}

.hero__text h1 {
	font-family: 'Proxima Nova Bold';
	/*color: #1F1F1F;*/
	color: #fff;
	margin-bottom: 20px;
}

.hero__text h3 {
	font-family: 'Proxima Nova';
	color: #fff;
	margin-bottom: 50px;
}

.hero__text a {
	font-family: 'Proxima Nova';
	text-decoration: none;
}

.hero__text h4 {
	color: #1F1F1F;
	font-size: 1em;
}

.hero__text a:hover {
	text-decoration: underline;
	color: #fff;
}

.hero__text img {
	width: 6em;
	height: auto;
	display: block;
	margin: 0px auto;
	margin-top: 150px;
}

.hero__text img:hover {
	animation: bounce 1s infinite;
	cursor: pointer;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-8px);
	}
}

/* Philosophy Section */
.philosophy {
	width: 100%;
	background-color: #F4F6F8;
	padding: 2em 60px 3em 60px;
	border-bottom: 1px solid #1F1F1F;
	text-align: center;
}

.philosophy h1, .philosophy h2, .philosophy h3, .philosophy h4 {
	color: #1F1F1F;
}

.philosophy article {
	margin-top: 2em;
	text-align: left;
}

.divider {
	display: inline-block;
	margin-top: 2em;
	background-color: #ED217C;
	width: 30em;
	height: .3em;
}

.philosophy h4:nth-child(2), .philosophy h4:nth-child(3), .philosophy h4:nth-child(4) {
	margin-top: 1em;
}

/* Services Section */
.services {
	width: 100%;
	background-color: #F4F6F8;
	padding: 2em 0 3em 0;
	text-align: center;
}

.services h1, .services h2, .services h4 {
	color: #1F1F1F;
}

.services .services__content {
	width: 100%;
	margin-top: 2em;
}

.services .services__card {
	position: relative;
	padding: .5em;
	height: 260px;
}

.services article {
	background-color: #1f1f1f;
	width: 100%;
	height: 100%;
	text-align: left;
	color: #FFF;
	padding: 1em 2em;
}

.services span.heading {
	display: block;
	font-family: 'Proxima Nova Bold';
	font-size: 3.5em;
}

.services article span.subheading {
	display: block;
	font-family: 'Proxima Nova Bold';
	font-size: 2em;
}

.services figcaption span.subsubheading {
	display: block;
	font-family: 'Proxima Nova Bold';
	font-size: 1.275em;
}

.services .overlay ul {
	padding-left: 20px;
	margin-top: .5em;
}

.services .overlay li {
	font-family: 'Proxima Nova Bold';
	font-size: 1em;
}

.services .overlay {
	opacity: 0;
	display: block;
	background-color: #ED217C;
	text-align: left;
	color: #FFF;
	position: absolute;
	top: .5em;
	left: .5em;
	right: .5em;
	bottom: .5em;
 	overflow: hidden;
  	padding: 1em 2em;
}
.services__content .services__card:hover .overlay {
	opacity: 1;
	box-shadow: 0px 12px 12px rgba(0,0,0,.5);
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}


/* Team & Advisors Section */
.team {
	width: 100%;
	background-color: #fff;
	padding: 2em 0 3em 0;
	text-align: center;
}

.team h1 {
	text-align: center;
}

.team .team__content {
	margin-top: 2em;
	text-align: left;
}

.team .one-fourth {
	padding: 0 1rem 1.5rem 1rem;
	overflow: hidden;
	height: 300px;
}

.team__bio {
	max-height: 250px;
	overflow-y: auto;
}

.team__bio--shorten {
	max-height: 215px;
	overflow-y: auto;
}

.team img {
	width: 100%;
	text-align: center;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
  	margin-bottom: 8px;
}

.team img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    box-shadow: 0px 12px 12px rgba(0,0,0,.5);
}

.team h1, .team h6, .team p {
	color: #1F1F1F;
}

.team h5 {
	color: #ED217C;
	display: inline-block;
	margin-bottom: .125rem;
}

.team h6 {
	font-size: 1rem;
}

.team p {
	margin-bottom: .25rem;
}

.team a.social {
	float: right;
}

.team__linkedin {
	color: #fff;
	background-color: #1F1F1F;
	padding: 5px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.team__linkedin:hover {
	background-color: #ED217C;
	cursor: pointer;
}

/* Footer Section */
.footer {
	background-color: #1F1F1F;
	padding: 5px 60px;
	height: 10rem;
}

.footer__logo {
	height: 40px;
	width: auto;
	float: left;
	bottom: -100px;
	position: relative;
}

.footer h6 {
	font-size: 14px;
	color: #FFF;
	float: right;
	margin-top: 8px;
	bottom: -100px;
	position: relative;
}

/* Recommend a Treatment */
.recommend {
	background-color: #fff;
}

.recommend iframe {	
	width: 100%;
}