/* General Classes */
::-webkit-scrollbar {
display: none;
}

* {
	box-sizing: border-box;
	color: #fff;
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}

a:hover {
	cursor: pointer;
}

/* Clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block; 
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Lightbox */
.lightbox {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
}

/* Modal */
.modal {
	width: 40%;
	padding: 15px;
	background-color: #fff;
	border-radius: 15px;
	margin: 0px auto;
	margin-top: 150px;
}

.modal__top {
	text-align: right;
}

.modal__top__cancel:hover {
	cursor: pointer;
}

.modal__body {
	width: 60%;
	margin: 0px auto;
	text-align: left;
	padding-bottom: 40px;
}

.modal__body h1 {
	color: #494949;
	text-align: center;
	font-family: Proxima Nova, sans-serif;
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 20px;
}

.modal__body label {
	color: #494949;
	display: block;
	font-family: Proxima Nova, sans-serif;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 4px;
}

.modal__body input {
	width: 100%;
	margin-bottom: 15px;
	padding: 5px;
	color: #494949;
	font-family: Proxima Nova, sans-serif;
	font-size: 1em;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

.modal__body button {
	width: 100%;
	border: none;
	border-radius: 4px;
	background-color: #66b89f;
	font-family: Proxima Nova, sans-serif;
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 10px 40px;
	font-size: 20px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}

.modal__body button:hover {
	cursor: pointer;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}

.modal__body button:active {
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	outline: none;
}

.modal__body button:focus {
	outline: none;
}

#alert {
	display: block;
}

.modal__body__confirmation {
	width: 100%;
	margin: 0px auto;
}

.modal__body__confirmation h2, .modal__body__confirmation p {
	color: #494949;
	text-align: center;
}

.modal__body__confirmation h2 {
	margin-bottom: 30px;
}

/* Navigation Bar */
.navbar {
	padding: 10px 60px;
	transition: all 0.5s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
}

.navbar--change-color {
	background-color: #ffffff;
	opacity: .8;
	border-bottom: 1pt solid #dddddd;
}

.navbar__logo {
	/*width: 25%;*/
	float: left;
}

#navbar__logo__dark {
	display: none;
	height: 40px;
	width: auto;
}

#navbar__logo__light {
	display: block;
	height: 40px;
	width: auto;
}

.navbar .contact__email {
	width: 260px;
	height: 22px;
	float: right;
	margin-top: 12px;
	margin-left: 1em;
}

.navbar .contact__email p {
	font-size: 1em;
	font-family: 'Proxima Nova Light';
}

.navbar__menu {
	float: right;
	text-align: right;
	margin-top: 12px;
}

.navbar__menu__normal {
	width: 100%;
}

.navbar__menu a {
	transition: all 0.3s ease;
	text-decoration: none;
	color: #fff;
}

.navbar__menu__normal a:nth-child(3), .navbar__menu__normal a:nth-child(5) {
	margin-left: 2rem;
}

.navbar__menu__normal span {
	display: none;
	height: 18px;
	background-color: #00AA78;
	z-index: -1;
	position: absolute;
	top: 30px;
}

.navbar__menu__normal span.highlight1{
	width: 72px;
	margin-left: -74px;
}

.navbar__menu__normal span.highlight2{
	width: 48px;
	margin-left: -46px;
}

/* .navbar__menu__normal span.highlight3 {
	width: 70px;
	margin-left: -67px;
 }*/

.navbar a.navbar__menu__link--change-color {
	color: #1F1F1F!important;
}

.navbar .contact__email p.navbar__menu__link--change-color{
	color: #1F1F1F!important;
}

.navbar__menu__normal span.hover {
	display: inline-block;
}

/* Hamburger Menu (for mobile version navbar of site) */
.navbar__menu__hamburger {
	position: relative;
	display: none;
	transform: translateY(-10px);
}

.navbar__menu__hamburger__icon {
	font-size: 30px;
}

.navbar__menu i.navbar__menu__hamburger__icon--change-color {
	color: #4a4a4a;
}

.navbar__menu__hamburger__content {
	display: none;
	position: absolute;
	min-width: 250px;
	z-index: 1;
	right: 0;
	border-bottom: 2px solid #66b89f;
	transform: translateY(5px);
}

.navbar__menu__hamburger ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.navbar__menu__hamburger li {
	padding: 5px 10px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	background-color: rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 0px rgba(255,255,255,0.2); 
	transition: all 0.5s ease;
}

.navbar__menu__hamburger li:hover {
	box-shadow: inset 250px 0px 0px rgba(255,255,255,0.3);
}

/* Scrollbar */
::-webkit-scrollbar {
	border-radius: 10px;
	width: 5px;
}

::-webkit-scrollbar-track {
	background-color: #ccc;
}

::-webkit-scrollbar-thumb {
	background-color: #9a9a9a;
}

/* Hero Section */
.hero {
	width: 100%;
	background: url('assets/hero_2.jpg');
	/*background-color: grey;*/
	background-size: cover;

	height: 700px;
	bottom: 0px;
}

.hero__text {
	width: 100%;
	text-align: center;
	padding: 240px 0px 50px 0px;
	letter-spacing: 1px;
	font-variant-ligatures: no-common-ligatures;
}

.hero .narrow-container {
	padding: 0px 50px;
}

.hero__text h1 {
	font-family: 'Proxima Nova Bold';
	color: #fff;
	margin-bottom: 20px;
}

.hero__text h3 {
	font-family: 'Proxima Nova';
	color: #fff;
	margin-bottom: 50px;
}

.hero__text a {
	font-family: 'Proxima Nova';
	text-decoration: none;
}

.hero__text h4 {
	color: #1F1F1F;
	font-size: 1em;
}

.hero__text a:hover {
	text-decoration: underline;
	color: #fff;
}

.hero__text button {
	background-color: #66b89f;
	border: none;
	border-radius: 4px;
	padding: 10px 40px;
	color: #fff;
	font-family: 'Proxima Nova';
	font-size: 22px;
	font-weight: 600;
	letter-spacing: 1px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	margin-bottom: 16px;
}

.hero__text button:hover {
	cursor: pointer;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
}

.hero__text button:active {
	/*transform: translateY(5px);*/
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
	outline: none;
}

.hero__text img {
	width: 6em;
	height: auto;
	display: block;
	margin: 0px auto;
	margin-top: 250px;
}

.hero__text img:hover {
	animation: bounce 1s infinite;
	cursor: pointer;
}

@keyframes bounce {
	0%, 100% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-8px);
	}
}

/* Vision Section */
.services {
	width: 100%;
	background-color: #F4F6F8;
	padding: 2em 0;
	text-align: center;
	height: 600px;
}

.services h1, .services h2, .services h4 {
	color: #1F1F1F;
}

.services h1 {
margin-bottom: 2rem;
}

.services__heading {
	width: 20%;
	float: left;
}

.services__text {
	width: 80%;
	float: left;
}

.services__text h4 {
	transform: translateY(10px);
}

.services__text__icon {
	width: 110px;
	height: 120px;
	display: inline-block;
	text-align: center;
	margin-right: 50px;
	position: relative;
}

.services__text__icon img {
	width: 100px;
	height: auto;
	position: absolute;
	transform: translateX(-50%);
}

.services__text__icon .services__text__icon--scale-down {
	width: 75px;
	height: auto;
}

.services__text__icon__caption {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.services__text__icon__caption h4 {
	position: relative;
	transform: translateY(45px);
}

/* Team & Advisors Section */
.team {
	background-color: #fff;
	padding: 2em 0;
}

.team h1 {
	text-align: center;
}

.team .one-third {
	padding: 0 1rem 1.5rem 0;
	overflow: hidden;
	/*height: 600px;*/
}

.team__bio {
	max-height: 250px;
	overflow-y: auto;
}

.team__bio--shorten {
	max-height: 215px;
	overflow-y: auto;
}

.team img {
	width: 100%;
	text-align: center;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
  	margin-bottom: 8px;
}

.team img:hover {
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.team h1, .team h6, .team p {
	color: #1F1F1F;
}

.team h1 {
	margin-bottom: 2rem;
}

.team h5 {
	color: #F73F0C;
	display: inline-block;
	margin-bottom: .125rem;
}

.team p {
	margin-bottom: .25rem;
}

.team a {
	float: right;
}

.team__linkedin {
	color: #fff;
	background-color: #1F1F1F;
	padding: 5px;
	border-radius: 5px;
	transition: all 0.3s ease;
}

.team__linkedin:hover {
	background-color: #F73F0C;
	cursor: pointer;
}

/* Footer Section */
.footer {
	background-color: #1F1F1F;
	text-align: center;
	padding: 5px 0px;
}

.footer img {
	height: 40px;
	width: auto;
}

.footer h6 {
	font-size: 14px;
	color: #FFF;
}

/* Recommend a Treatment */
.recommend {
	background-color: #fff;
}

.recommend iframe {	
	width: 100%;
}