<section id="hero" class="hero">
	<div class="narrow-container">
		<div class="hero__text">
			<h1>A Full-Service Digital Agency</h1>
			<h3>We're a team of ex-Googlers and digital experts</h3>
			<img ng-click="scrollTo('philosophy')" src="http://d20sv3ae6ysj58.cloudfront.net/assets/down-arrow.png"/>
		</div>
	</div>
</section>

<section id="philosophy" class="philosophy">
	<div class="extra-narrow-container clearfix">
		<h1>Our Philosophy</h1>
		<div class="divider">
		</div>
		<article>
			<h4>Our philosophy is simple: good business means business baked in values.</h4>

			<h4>At Mookie, we believe in transparency, trust, and a focus on your goals and your customers. We use data-driven insights to grow your profitability, maximize your web-presence, construct your brand, and drive sales.</h4>

			<h4>Let us partner with you to help people get a taste of what you have to offer.</h4>
		</article>
	</div>
</section>

<section id="services" class="services">
	<div class="narrow-container clearfix">
		<h1>Services</h1>
		<div class="divider">
		</div>
		<h4>Get a free estimate</h4>
		<div class="services__content">
			<div class="one-half services__card">
				<article>
					<span class = "heading">Google</span>
					<span class = "subheading">Adwords and Analytics</span>
				</article>
				<figcaption class="overlay">
					<span class = "heading">Google</span>
					<span class = "subsubheading">Get people to bite… profitably</span>
					<ul>
						<li>Goal-Driven / ROI Consultation</li>
						<li>Research &amp; Discovery</li>
						<li>Account Setup &amp; Management</li>
						<li>Monthly Reporting</li>
					</ul>
					<span class = "pricing">$1.5K+ /monthly</span>
				</figcaption>
			</div>
			<div class="one-half services__card">
				<article>
					<span class = "heading">Search Engine</span>
					<span class = "subheading">Optimization</span>
				</article>
				<figcaption class="overlay">
					<span class = "heading">Search Engine</span>
					<span class = "subsubheading">Get people to bite... organically</span>
					<ul>
						<li>Baseline Assessment &amp; Keyword Research</li>
						<li>Strategy &amp; Content Planning</li>
						<li>Web Content Support &amp; Development</li>
						<li>SEO Implementation, Support &amp; Management</li>
					</ul>
					<span class = "pricing">$500 - $5K+ /project or monthly</span>
				</figcaption>
			</div>
			<div class="one-half services__card">
				<article>
					<span class = "heading">Web</span>
					<span class = "subheading">Design and Development</span>
				</article>
				<figcaption class="overlay">
					<span class = "heading">Web</span>
					<span class = "subsubheading">Give people a taste of your company</span>
					<ul>
						<li>Brand Design</li>
						<li>Responsive Web Design</li>
						<li>Full-Stack Web Development</li>
						<li>Lead Generation &amp; E-Commerce Platforms</li>
					</ul>
					<span class = "pricing">$2.5K - $25K+ /project</span>
				</figcaption>
			</div>
			<div class="one-half services__card">
				<article>
					<span class = "heading">Social Media</span>
					<span class = "subheading">Management</span>
				</article>
				<figcaption class="overlay">
					<span class = "heading">Social Media</span>
					<span class = "subsubheading">Give people a taste of your brand</span>
					<ul>
						<li>Welcoming Engagement</li>
						<li>Understanding &amp; Defining Audiences</li>
						<li>Research &amp; Content Creation</li>
						<li>Account Setup and Management</li>
					</ul>
					<span class = "pricing">$500 - $2.5K+ /monthly</span>
				</figcaption>
			</div>
		</div>	
	</div>
</section>

<section id="team" class="team">
	<div class="narrow-container clearfix">
		<h1>Team</h1>
		<div class="divider">
		</div>
		<div class="team__content">
		<div class="one-fourth">
			<img src="assets/rob_photo.jpg">
			<h5>Rob Castellanos</h5>
			<a class="social" href="https://www.linkedin.com/in/robertocastellanos/" target="_blank">
				<i class="fa fa-linkedin team__linkedin"></i>
			</a>
			<h6>CEO <br> Digital Marketing Lead</h6>
		</div>
		<div class="one-fourth">
			<img src="assets/john_photo.jpg"/>
			<h5>John Rim</h5>
			<a class="social" href="https://www.linkedin.com/in/johnrim/" target="_blank">
				<i class="fa fa-linkedin team__linkedin"></i>
			</a>
			<h6>Creative Technologist</h6>
		</div>
		<div class="one-fourth">
			<img src="assets/avery_photo.jpg"/>
			<h5>Avery Cohen</h5>
			<a class="social" href="https://www.linkedin.com/in/averycohen/" target="_blank">
				<i class="fa fa-linkedin team__linkedin"></i>
			</a>
			<h6>SEO Specialist</h6>
		</div>
		<div class="one-fourth">
			<img src="assets/shaily_photo.jpg"/>
			<h5>Shaily Hakimian</h5>
			<a class="social" href="https://www.linkedin.com/in/hakimian45/" target="_blank">
				<i class="fa fa-linkedin team__linkedin"></i>
			</a>
			<h6>Social Media Specialist</h6>
		</div>
		</div>
	</div>
</section>

<section id="footer" class="footer">
	<img src="assets/logo_knockout_pink.svg" class="footer__logo"></img>
	<div class="container">
		<h6>Mookie &copy; 2017</h6>
	</div>
</section>