<script data-cfasync="false" type="text/javascript" src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>

<section class="recommend">
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScZWw0kmGNum7VgzadrhcR5bLOypfsvXghBxpLG39dvBdUriQ/viewform?embedded=true" width="800" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</section>

<section id="footer" class="footer">
	<div class="container">
		<h6>Syndio &copy; 2017</h6>
	</div>
</section>